.experience-card{
  border-radius:30px;
  background: #f8fafc;
  margin-bottom:5%;
  margin-left:3%;
  margin-right:3%;
  }

.experience-card__content{
    margin-left:3%;
    margin-right:3%;
    text-align:justified;
  }

 .experience-card__image {
   width: auto;
   height: auto;
   max-width:75%;
   max-height:200px;
   object-fit: cover;
   display: block;
   margin-top:10px;

 }
